body {
    background-color: gainsboro;
}

.navbar {
    /* position: fixed; */
}

.con1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
    background: #00b4db;
    background: -webkit-linear-gradient(to bottom, #0083b0, #00b4db);
    background: linear-gradient(to bottom, #0083b0, #00b4db);
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

#glass {
    /* --- the magic --- */
    color: rgb(255, 255, 255, 0.4);
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 25px;
    border: 1.5px solid rgb(255, 255, 255, 0.18);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    /* ----------------- */
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80vw;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bolder {
    font-weight: 500;
}

.larger {
    font-size: 1em;
    margin: 0.5rem;
    font-weight: 400;
}


/* a pattern to go under the glass and show the effect */

#pattern-bg {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top left;
    background-size: cover;
    background-color: black;
    /* bg from https://bgjar.com/ */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1106%26quot%3b)' fill='none'%3e%3cpath d='M53.34225724386007 829.2274576362743L310.10914589989466 750.7259417914447-25.15925860096946 572.4605689802397z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M787.384771139078 885.1572152049371L870.0471651995217 699.4944383262189 550.2218028512226 668.3322356749125z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M919.9590175736698 223.82961744538363L1144.3266296525114 369.83984122759654 1160.6500785469582 136.40364642961774z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1476.79 482.29 a259.5 259.5 0 1 0 519 0 a259.5 259.5 0 1 0 -519 0z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1307.369668236632 150.512889204619L1381.3996019911783 278.7364957484513 1536.7200449296538 103.57979184471566z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M65.34 407.46 a230.38 230.38 0 1 0 460.76 0 a230.38 230.38 0 1 0 -460.76 0z' fill='rgba(116%2c 218%2c 173%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1106'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 5vh;
    }
    .larger {
        font-size: 3vh;
        margin: 0.5rem;
        font-weight: 400;
    }
    p {
        font-size: 0.2em;
        text-align: center;
    }
}

.nerdy-pen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* height: 100vh; */
}

.nerdy-pen__text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.5em;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

p {
    text-align: center;
    font-size: 0.5em;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
    --color: #a972cb;
    --hover: #cb72aa;
}

.pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
}

.close {
    --color: #ff7f82;
    --hover: #ffdc7f;
}

.raise {
    /* --color: #ffa260; */
    --hover: #e5ff60;
}

.up {
    --color: #e4cb58;
    --hover: #94e458;
}

.slide {
    --color: #8fc866;
    --hover: #66c887;
}

.offset {
    --color: #19bc8b;
    --hover: #1973bc;
}

button {
    color: var(--color);
    transition: 0.25s;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

h1 {
    font-weight: 400;
}

code {
    color: #e4cb58;
    font: inherit;
}


/* var */

::selection {
    background-color: #222222;
    color: #FFFFFF;
}


/* */

body {
    background: #222222;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.flex::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.flex {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

p {
    font-weight: lighter;
    font-size: 0.8em;
    line-height: 1.4em;
    text-align: justify;
}

h1 {
    margin-top: 0px;
}


/* glass-block */

.glass-block {
    width: 300px;
    height: auto;
    margin: 20px;
    margin-top: 70px;
    padding: 30px;
    box-sizing: border-box;
    padding-top: 60px;
}

.glass-block {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.6s;
}

.glass-block:hover {
    backdrop-filter: blur(3px) saturate(500%);
    transition: all 0.6s;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
}

.con2 {
    text-align: center;
    background-color: grey;
    padding: 5vh;
}

.con2 h2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-align: center;
    font-family: Overpass, sans-serif !important;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -1px;
}

.fa,
.fas {
    font-weight: 900;
    font-size: 10vh;
    color: gray;
}

.fa:hover,
.fas:hover {
    color: cornflowerblue;
}

.con2card {
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 3%;
    border: 1px solid darkslategray;
    margin: 1%;
}

.con2card p {
    text-align: center;
    font-family: Overpass, sans-serif !important;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 0px;
}

.con3 {
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/14/16/20/network-2402637_960_720.jpg');
    color: white;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.con3 h4 {
    padding: 3%;
}

a {
    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    text-decoration: none;
}

.demo:after {
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);
    background: #1b1b1b;
    /* position: absolute; */
    content: '';
    height: 10px;
    width: 100%;
    top: 0;
}


/* List styles */

.list {
    -webkit-transform-style: preserve-3d;
    -moz-transform-stle: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-transform: uppercase;
    position: absolute;
    /* margin-left: -140px; */
    /* top: 20%; */
}

.list a {
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}

.list dt,
.list dd {
    text-indent: 10px;
    line-height: 55px;
    background: #E0FBAC;
    margin: 0;
    height: 55px;
    width: 270px;
    color: #fff;
}

.list dt {
    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.list dd {
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    line-height: 35px;
    font-size: 11px;
    height: 35px;
    margin: 0;
}


/* UI */

.toggle {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 50px;
    margin-left: -70px;
    margin-top: -20px;
    background: #2b2b2b;
    text-align: center;
    font-size: 12px;
    /* position: absolute; */
    z-index: 1;
    height: 50px;
    bottom: 10%;
    width: 140px;
    color: #fff;
    left: 50%;
}

.toggle:hover {
    background: white;
    font-weight: 900;
}


/* No CSS 3D support warning */

.warning {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    -ms-transform: translateZ(2px);
    -o-transform: translateZ(2px);
    transform: translateZ(2px);
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.warning .message {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    margin-left: -150px;
    margin-top: -60px;
    line-height: 1.5;
    background: #222;
    font-size: 12px;
    /* position: absolute; */
    padding: 10px;
    width: 280px;
    color: #fff;
    left: 50%;
    top: 50%;
}

.warning .message h1 {
    font-weight: 300;
    font-size: 14px;
}

.warning .message a {
    text-decoration: none;
    color: #73C8A9;
}


/* Individual styles */

.sashimi dt,
.sashimi dd,
.sashimi a {
    background: #73C8A9;
}

.nigiri dt,
.nigiri dd,
.nigiri a {
    background: blue;
}

.maki dt,
.maki dd,
.maki a {
    background: #FFC219;
}

.sashimi a:hover {
    background: #61c19e;
}

.nigiri a:hover {
    background: #d31b46;
}

.maki a:hover {
    background: #ffbb00;
}

.nigiri {
    -webkit-transform: perspective(1200px) rotateY(40deg) !important;
    -moz-transform: perspective(1200px) rotateY(40deg) !important;
    -ms-transform: perspective(1200px) rotateY(40deg) !important;
    -o-transform: perspective(1200px) rotateY(40deg) !important;
    transform: perspective(1200px) rotateY(40deg) !important;
    -webkit-transform-origin: 110% 25%;
    -moz-transform-origin: 110% 25%;
    -ms-transform-origin: 110% 25%;
    -o-transform-origin: 110% 25%;
    transform-origin: 110% 25%;
    left: 20%;
}

.maki {
    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;
    left: 50%;
}

.sashimi {
    -webkit-transform: perspective(1200px) rotateY(-40deg) !important;
    -moz-transform: perspective(1200px) rotateY(-40deg) !important;
    -ms-transform: perspective(1200px) rotateY(-40deg) !important;
    -o-transform: perspective(1200px) rotateY(-40deg) !important;
    transform: perspective(1200px) rotateY(-40deg) !important;
    -webkit-transform-origin: -10% 25%;
    -moz-transform-origin: -10% 25%;
    -ms-transform-origin: -10% 25%;
    -o-transform-origin: -10% 25%;
    transform-origin: -10% 25%;
    left: 80%;
}


/* Header */

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}


/* Import CSS
------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700);

/* Custom container width
------------------------------------------------------------ */

body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#site-wrapper {
    width: 100%;
    margin: 0 auto 25px auto;
    background-color: #000;
    padding-bottom: 48px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 1311px;
}

@media only screen and (max-width: 1311px) {
    .container {
        width: 100%;
    }
}


/* Typography

/* Hyperlinks
------------------------------------------------------------ */

a {
    color: #0091B5;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

a:hover {
    color: #0091B5;
}


/* General
------------------------------------------------------------ */


/* Vertical align */

.valign-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.row-padding-large {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media only screen and (max-width: 935px) {
    .row-padding-large {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


/* Chart container
------------------------------------------------------------ */

#chartContainer {
    position: relative;
    width: 100%;
    margin-bottom: 46px;
}

.switch-holder {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-bottom: 46px;
}

.switch {
    position: relative;
    width: auto;
    display: inline-block;
    margin: 10px auto;
    font-family: verdana;
}

.switch:before {
    content: ' ';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 32px;
    background: rgba(2552, 255, 255, 0.1);
    border-radius: 32px;
}

.switch__label {
    display: inline-block;
    width: 82px;
    font-family: milibus, arial;
    color: rgba(126, 127, 139, 0.5);
    font-size: 17px;
    padding: 2px 20px;
    text-align: center;
    cursor: pointer;
    transition: color 200ms ease-out;
}

.switch__label:hover {
    color: #00B4FA;
}

.switch__indicator {
    width: 82px;
    height: 32px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 32px;
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
    transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0 3px 10px 0 rgba(53, 42, 104, 0.1);
    -webkit-box-shadow: 0 3px 10px 0 rgba(53, 42, 104, 0.1);
    box-shadow: 0 3px 10px 0 rgba(53, 42, 104, 0.1);
}

.switch input#one:checked~.switch__label_one {
    color: #00B4FA;
    font-weight: 700;
}

.switch input#two:checked~.switch__label_two {
    color: #00B4FA;
    font-weight: 700;
}

.switch input#three:checked~.switch__label_three {
    color: #00B4FA;
    font-weight: 700;
}

.switch input#one:checked~.switch__indicator {
    transform: translate3d(0, 0, 0);
}

.switch input#two:checked~.switch__indicator {
    transform: translate3d(88px, 0, 0);
}

.switch input#three:checked~.switch__indicator {
    transform: translate3d(176px, 0, 0);
}

.switch input[type="radio"]:not(:checked),
.switch input[type="radio"]:checked {
    display: none;
}

.counter-block {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    height: 220px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.counter-number {
    display: inline-block;
    position: relative;
    font-family: milibus, arial;
    line-height: 1;
    color: #00B4FA;
}

.counter-number .number {
    font-size: 96px;
    font-weight: 700;
}

.counter-number .total {
    display: inline-block;
    width: 70px;
    text-align: left;
    position: absolute;
    right: -75px;
    top: 30px;
    font-size: 32px;
    opacity: 0.5;
}

.counter-block h4 {
    position: absolute;
    bottom: 0;
    font-size: 17px;
    line-height: 1em;
    width: 100%;
}

#chartContainer canvas#c {
    position: absolute;
    z-index: -1;
    bottom: 100px;
    left: 0;
    /* force fix height */
    width: 100% !important;
    max-width: 100%;
    height: 400px !important;
}

@media only screen and (max-width: 1160px) {
    #chartContainer {
        margin-bottom: 48px;
    }
    .counter-block {
        height: 164px;
    }
    .counter-number .number {
        font-size: 46px;
    }
    .counter-number .total {
        top: 15px;
        font-size: 22px;
    }
    #chartContainer canvas#c {
        bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .couter-col {
        margin-bottom: 15px;
    }
    #chartContainer canvas#c {
        bottom: 190px;
    }
}

@media only screen and (max-width: 600px) {
    .couter-col {
        width: 100%;
        margin-bottom: 15px;
    }
    .counter-block {
        height: 80px;
    }
    .counter-number {
        position: absolute;
        right: 50px;
    }
    .counter-number .number {
        font-size: 36px;
    }
    .counter-number .total {
        top: 10px;
        font-size: 18px;
    }
    .counter-block h4 {
        position: absolute;
        margin-bottom: 0;
        left: 15px;
        font-size: 12px;
        width: auto;
        bottom: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #chartContainer canvas#c {
        bottom: 200px;
    }
}

.con4 h2 {
    color: white;
}